<header>
    <div class="container flex">
        <a id="logo" href="https://jonathanawhitney.com"><img src="{{ site.baseurl }}/assets/logo.svg" alt="Logo" /></a>
        <div>
            <a href="http://linkedin.com/in/jonathanawhitney" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="http://github.com/jawhitney" target="_blank"><i class="fab fa-github"></i></a>
        </div>
    </div>
</header>
<section id="hero">
    <div class="container">
        <h1>The Great Email Escape interactive game</h1>
        <p>Created for <a href="https://returnpath.com">Return Path</a></p>
        <p><a href="https://returnpath.com/games/great-email-escape/">Game on Return Path's site</a></p>
        <p>Built using <a href="http://phaser.io/">PhaserJS</a></p>
        <p>Graphics created by <a href="https://jonathanfoerster.com">Jonathan Foerster</a></p>
    </div>
</section>
